*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAD5A5;
    margin: 0;
    padding: 0;
}
.image-logo{
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    margin: auto;
    padding: 0;
    border: 0;
}
.logo-banner{
    height: 200px;
    width: 100%;    
    background-color: white;
    margin: 0;
    padding: 0;
}
.index-banner{
    height: 100px;
    width: 100%;    
    background-color: white;
    margin: 0;
    padding: 0;
}
.pictures-for-banner {
    text-align: center;
    margin: 0;
    padding: 0;
}
#footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
  nav ul li{	
    display:inline;
    padding-left:45px;
    padding-right:45px;
    border-left:1px solid orange;
}
ul {
    list-style-type: none;
}
nav li:first-child{
    border-left:none;	
}
header{
    background-color: #263248;	
    border-radius: 8px;
}
nav li a{   
    text-decoration: none;	
    color: gray;
}
nav li a:hover{
    color: orange;
}
nav li a:visited{
    color: gray;
}
nav li a:active{
    text-decoration: none;
    color: orange;
}
header h1 a{
    color:#fff;
    text-decoration: none;
}
header h1 a:hover{
    text-decoration: none;
}
#logo{
    padding:10px;
}
header{
    background-color: orange;
    border-radius: 8px;
    display:flex;
    justify-content:space-between;
}
.sidebar{
    padding:20px 40px;	
    border:1px solid #ccc;
    border-radius:8px;
    margin-top: 70px;
 }
